<div class="text-center">
    <h1 class="display-4 main__add">Adding an department</h1>
    <div class="container">
        <div class="row">
            <%
=begin%>
 <div class="col-10">
                @using (Html.BeginForm())
                {
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Department.Name, new { @class= "col-form-label, col-sm-6" })
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="Department.Name" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Department.Floor, new { @class= "col-form-label, col-sm-6" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Department.Floor, new { @class= "form-control", type="number" })
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Add" class="btn btn-success" />
                        <a href="/" class="btn btn-danger" role="button">Cancel</a>
                    </div>
                }
            </div> 
<%
=end%>
        </div>
    </div>
</div>